@charset "UTF-8";

.btn-toolbar {
	position: relative;
	top: 50px;
}

.detail:hover{
	cursor:pointer;
}
.form{
	float: left;
	margin-top: 20px;
	position: relative; 
	top: 30px;
}
.formSearch{
	float: right;
	margin-top: 20px; 
	position: relative; 
	top: 30px; 
	margin-bottom: 40px;
}
.triplist{
	height:200px;
	overflow:hidden;
	margin:0 auto;
}
.triplist>img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.select{
	width: 100px; 
	height: 40px;
}
.searchSubmit{
	background-color: white; 
	border-radius: 5px; 
	width: 55px;
	border:1px solid gray;
}
.searchSubmit:hover{
	opacity: 0.9;
}
.listPhoto{
	height: 250px;
}
.card{
	border:none;
}

.detail:hover>*>*{
	opacity:1;
}
.card-text{
	background-color:black;
	opacity:0.6;
}
.card-img-overlay{
	padding-right:13px;
	padding-left:13px;
}