@charset "utf-8";

  /* 로그인&회원가입 시작*/
  /* 열리는 로그인 모달창 중앙정렬 */
  .modal-first-body {
    text-align: center;
  }
  /* 모달 로고 */
  #exampleModalToggleLabel {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 28px;
  }

  /* 아이디&비밀번호 input */
  .loginInput {
    width: 80%;
    height: 40px;
    border: 1px solid rgb(185, 185, 185);
    padding-left: 15px;
    border-radius: 5px;
    color:black !important;
  }
  .loginInputBox {
    text-align: center;
  }
  .loginBtns {
    text-align: center;
  }
  .loginBtns button {
    background-color: #20B2AA;
    color:white;
    width: 39%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 7px;
  }
  .loginBtns button:hover {
    opacity: 0.9;
  }
  .loginForm {
    margin-bottom: 5px;
  }
  /* 경고코드 */
  .normalLoginConfirm {
    text-align: left;
    padding-left: 50px;
  }
  /* 로그인 인풋 끝 */

  /* 회원가입 시작 */
  #signupModalBtn {
    width: 80%;
    background: linear-gradient(45deg, cornflowerblue, rgb(121, 187, 241));
    border: none;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 7px;
  }
  #signupModalBtn:hover {
    opacity: 0.9;
  }
  /* 회원가입창 로고부분 */
  #exampleModalToggleLabel2 {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 28px;
  }
  /* 회원가입창 전체 중앙정렬 */
  .modal-signupBody {
    width: 80%;
    text-align: center;
    margin: auto;
  }
  /* 중복확인시 나타나는 글자 */
  .signupInputConfirm {
    font-size: 12px;
    height: 20px;
    color: cornflowerblue;
  }
  .verificationCodeConfirm{
    text-align: left;
    padding-left:52px;
  }
  .findPwEmailCheckConfirm {
    text-align: left;
    padding-left: 50px;
  }
  .emailIdConfirm, .nickNameConfirm, .signupBoxs {
    text-align: left;
  }
  /* 이메일, 닉네임 입력input */
  .signupEmailInput,
  .signupNickNameInput {
    width: 70%;
    padding-left: 6px;
    margin-right: 20px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid gray;
  }
  /* 중복확인 버튼 */
  .signupCheckBtn {
    width: 76px;
    height: 36px;
    padding: 0;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    color: rgb(63, 63, 63);
  }
  .signupCheckBtn:hover {
    background-color: rgb(250, 250, 250);
  }
  /* 비밀번호 */
  .signupLongInput {
    width: 96%;
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 6px;
    height: 36px;
  }
  /* 휴대폰 입력란 */
  .phoneInput {
    width: 22%;
    height: 36px;
    padding-left: 6px;
  }
  .phoneInput:first-child {
    width: 15%;
  }
  #signupPhoneCheckBtn {
    margin-left: 24px;
  }
  #signupPhone {
    display: none;
  }
  .genderHead{
    color:rgb(65, 65, 65);
    margin-right: 15px;
  }
  .genderHeadIn{
    color:rgb(80, 80, 80);
    font-size:6px;
  }
  /* 회원가입Go버튼 */
  .signupGoBtn {
    width: 96%;
    height: 40px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(45deg, cornflowerblue, rgb(121, 187, 241));
    color: white;
  }
  .signupGoBtn:hover {
    opacity: 0.9;
  }
  .signupBack {
    background-color: #20B2AA;
    border: none;
    height: 30px;
    width: 70px;
    padding: 0;
    font-size: 13px;
  }
  #kakaoLogin {
    margin-bottom: 20px;
  }
  #kakaoLogin:hover {
    opacity: 0.85;
    cursor: pointer;
  }
  /* 비밀번호 모달창 시작 */
  .findPwInput {
    width: 64%;
    height: 40px;
    border: 1px solid gray;
    padding-left: 10px;
    border-radius: 5px;
  }
  .findPwBtn {
    border: none;
    height: 38px;
    width: 60px;
    background-color: #20B2AA;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }
  .findPwBtn:hover {
    opacity: 0.9;
  }
  /* 변경할 비밀번호 입력하는 창 */
  .verificationOk {
    display: none;
  }
  .changePwInput {
    width: 64%;
    height: 40px;
    border: 1px solid gray;
    padding-left: 10px;
    border-radius: 5px;
  }
  .changePwBtn {
    border: none;
    height: 38px;
    width: 60px;
    background-color: #20B2AA;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-left: 8px;
  }
  .changePwBtn:hover {
    opacity: 0.9;
  }
  .changePwConfirm {
    text-align: left;
    padding-left: 50px;
  }
  /* 로그인 이후 변경되는 박스 */
  #loginAfterBox{
    font-size: 14px;
  }