@charset "utf-8";
  /* 간단세팅 나중에 css파일 따로 뺄거*/
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
  }

  a {
    text-decoration: none;
  }

  /* 전체영역 크기 조절 */
  .myPageContainer {
    width: 1200px;
    display: flex;
    margin: auto;
  }

  /* 사이드바 시작 */
  .sideBar {
    width: 200px;
    height: 1000px;
    background-color: rgb(250, 250, 250);
  }

  /* 초상화 공간 */
  .sideMyPortrait {
    width: 150px;
    height: 150px;
    margin-left: 25px;
    margin-top: 50px;
    position: relative;
  }

  .sideMyNick {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  /* 사이드바 메뉴 */
  .sideBarMenuBox {
    margin-top: 50px;
  }

  .sideBarMenuBox li {
    margin-top: 20px;
  }

  .sideBarMenuBox li a {
    width: 140px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    background-color: #198c8c;
    display: block;
    color: white;
    box-shadow: 1px 1px 2px 1px rgb(224, 224, 224);
  }

  .sideBarMenuBox li a:hover {
    opacity: 0.9;
    box-shadow: 1px 1px 2px 1px rgb(211, 211, 211);
  }

  .sideBarMenuBox li:first-child a {
    background-color: #005757;
  }

  /* 사이드바 끝 */

  /* 정보수정 시작 */
  .contentsBox {
    display: flex;
    flex-direction: column;
  }

  .contentsTop {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
  }

  .contentsMiddle {
    width: 1000px;
  }

  .contentsMiddleIn {
    width: 700px;
    margin: auto;
    height: 750px;
  }

  .nickAndPhotoBox {
    height: 200px;
    display: block;
  }

  .MyPortrait {
    float: left;
  }

  .myInfoNickBox {
    float: left;
    margin-top: 45px;
    margin-left: 30px;
  }

  /* 닉네임 체크 버튼 */
  .myInfoNickCheck,
  .myInfoPhoneCheck {
    display: inline;
    width: 70px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
    font-size: 14px;
  }

  .myInfoNickCheck:hover,
  .myInfoPhoneCheck:hover {
    box-shadow: 1px 1px 1px 1px rgb(240, 240, 240);
  }

  .myInfoForm {
    margin-top: 10px;
  }

  .text-center {
    width: 200px;
    height: 70px;
    color: rgb(94, 94, 94);
  }

  /* input들 */
  .longInput {
    width: 230px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    padding-left: 10px;
  }

  .ageInput {
    width: 70px;
    height: 40px;
    padding-left: 10px;
  }

  .genderInput {
    width: 16px;
    height: 16px;
  }

  .preferenceInput {
    width: 320px;
    height: 40px;
  }

  .txtInput {
    margin-top: 30px;
    padding: 5px;
  }

  .phOpenTxt {
    padding-left: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(77, 77, 77);
  }

  .phOpen {
    margin-left: 15px;
    width: 15px;
    height: 15px;
  }

  /* 탈퇴&수정버튼들 */
  .deleteAccountBtn {
    color: gray;
    border: none;
    background-color: white;
    font-size: 14px;
    margin-right: 15px;
  }

  .deleteAccountBtn:hover {
    cursor: pointer;
    color: lightslategray;
    border-bottom: 1px solid gray;
  }

  .changeSubmitBtn {
    width: 200px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
    color: #108b85;
    background-color: white;
  }

  .changeSubmitBtn:hover {
    box-shadow: 1px 1px 2px 1px rgb(233, 233, 233);
  }

  /* 사진 수정 */
  .portraitInput {
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
  }

  .portraitPhoto {
    width: 150px;
    height: 150px;
    position: absolute;
  }

  .submitBtnss {
    margin-top: 50px;
    width: 100%;
    height: 70px;
    text-align: center;
  }

  .submitBtns {
    margin-top: 20px;
    text-align: right;
  }

  /* 확인텍스트 */
  .myInfoCheckTxt {
    color: black;
    font-size: 12px;
  }

  /* 비밀번호 수정 폼 */
  .changePwBtn {
    width: 120px;
    height: 40px;
    background-color: white;
    color: rgb(65, 65, 65);
    border: 1px solid rgb(160, 160, 160);
    font-size: 14px;
  }

  .changePwBtn:hover {
    background-color: white;
    color: rgb(65, 65, 65);
  }

  .myInfoPwChangeForm {
    margin: auto;
    width: 250px;
  }

  .myInfoPwChangeInput {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: auto;
    padding-left: 10px;
  }

  .myInfoPwChangeBtn {
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
  }

  /* 회원탈퇴용 폼 */
  #deleteAccountForm {
    display: none;
  }

  .deleteAccountInput {
    display: none;
  }

  /* 정보수정 끝 */
  footer {
    width: 100%;
    height: 300px;
    background-color: aliceblue;
  }

  @media (max-width: 480px) {
    .myPageContainer {
      width: 100%;
    }
    /* 사이드바 시작 */
  .sideBar {
    width: 100px;
    height:800px;
    background-color: #198c8c;
  }

  /* 초상화 공간 */
  .sideMyPortrait {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 50px;
    position: relative;
  }

  .sideMyNick {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size:12px;
    color:white;
  }

  /* 사이드바 메뉴 */
  .sideBarMenuBox {
    margin-top: 20px;
    padding-left:10px;
  }

  .sideBarMenuBox li {
    margin-top: 20px;
  }

  .sideBarMenuBox li a {
    width: 80px;
    height: 34px;
    border-radius: 4px;
    font-size:13px;
    line-height: 34px;
    text-align: center;
    background-color: #ffffff;
    display: block;
    color: rgb(75, 75, 75);
    box-shadow: 1px 1px 2px 1px rgb(224, 224, 224);
  }

  .sideBarMenuBox li a:hover {
    opacity: 1;
    box-shadow: 1px 1px 2px 1px rgb(211, 211, 211);
  }

  .sideBarMenuBox li:first-child a {
    background-color: rgb(110, 224, 154);
    box-shadow: none;
    color:rgb(0, 0, 0);
  }

  /* 사이드바 끝 */
  /* 정보수정 시작 */
  .contentsBox {
    display: flex;
    flex-direction: column;
    margin-left:20px;
  }

  .contentsTop {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
  }

  .contentsMiddle {
    width: 100%;
  }

  .contentsMiddleIn {
    width: 100%;
    margin: auto;
  }

  .nickAndPhotoBox {
    height: 100px;
    display: block;
  }

  .MyPortrait {
    float: left;
  }

  .myInfoNickBox {
    float: left;
    margin-top: 45px;
    margin-left: 30px;
  }

  /* 닉네임 체크 버튼 */
  .myInfoNickCheck,
  .myInfoPhoneCheck {
    display: inline;
    width: 50px;
    height: 25px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(255, 255, 255);
    font-size: 10px;
  }

  .myInfoNickCheck:hover,
  .myInfoPhoneCheck:hover {
    box-shadow: 1px 1px 1px 1px rgb(240, 240, 240);
  }

  .myInfoForm {
    margin-top: 10px;
  }

  .text-center {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    height: 70px;
    line-height: 70px;
    color: rgb(94, 94, 94);
  }

  /* input들 */
  .longInput {
    width: 130px;
    height: 30px;
    font-size:10px;
    padding-left: 5px;
  }

  .ageInput {
    width: 45px;
    height: 30px;
    font-size:12px;
    padding-left: 10px;
  }

  .genderInput {
    width: 12px;
    height: 12px;
  }

  .preferenceInput {
    width: 220px;
    height: 30px;
    font-size:12px;
  }

  .txtInput {
    margin-top: 30px;
    padding: 5px;
    width:200px;
    font-size:12px;
    height:80px;
  }

  .phOpenTxt {
    padding-left: 2px;
    margin-bottom: 5px;
    font-size: 10px;
    color: rgb(77, 77, 77);
  }

  .phOpen {
    margin-left: 5px;
    width: 15px;
    height: 15px;
  }

  /* 탈퇴&수정버튼들 */
  .deleteAccountBtn {
    color: gray;
    border: none;
    background-color: white;
    font-size: 14px;
    margin-right: 15px;
  }

  .deleteAccountBtn:hover {
    cursor: pointer;
    color: lightslategray;
    border-bottom: 1px solid gray;
  }

  .changeSubmitBtn {
    width: 150px;
    height: 30px;
    margin: auto;
    border: none;
    border-radius: 5px;
    border: 1px solid rgb(184, 184, 184);
    color: #108b85;
    background-color: white;
  }

  .changeSubmitBtn:hover {
    box-shadow: 1px 1px 2px 1px rgb(233, 233, 233);
  }

  /* 사진 수정 */
  .portraitInput {
    width: 80px;
    height: 80px;
    position: absolute;
    opacity: 0;
  }

  .portraitPhoto {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
  }

  .submitBtnss {
    margin-top: 20px;
    height: 70px;
    text-align: center;
  }

  .submitBtns {
    margin-top: 20px;
    text-align: right;
  }

  /* 확인텍스트 */
  .myInfoCheckTxt {
    color: black;
    font-size: 10px;
  }

  /* 비밀번호 수정 폼 */
  .changePwBtn {
    width: 100px;
    height: 30px;
    background-color: white;
    color: rgb(65, 65, 65);
    border: 1px solid rgb(160, 160, 160);
    font-size: 12px;
  }

  .myInfoPwChangeForm {
    margin: auto;
    width: 250px;
  }

  .myInfoPwChangeInput {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: auto;
    padding-left: 10px;
  }

  .myInfoPwChangeBtn {
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 3px;
    margin-top: 10px;
  }

  /* 회원탈퇴용 폼 */
  #deleteAccountForm {
    display: none;
  }

  .deleteAccountInput {
    display: none;
  }

  /* 정보수정 끝 */
  footer {
    width: 100%;
    height: 100px;
    background-color: aliceblue;
  }
  }