<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="CompanyBoard">
  	
  	
  		<!-- CRUD -->
 		<insert id="insert">
 			insert into company_board values(com_seq.nextval, 1, #{title}, #{contents}, #{recruit}, 0, #{tour}, #{gender}, #{start_date}, #{end_date}, default, default, default, default, default)
 		</insert>
 		
 		<select id="selectAll" resultType="kh.spring.dto.CompanyBoardDTO">
 			select * from company_board order by seq desc
 		</select>
 		
 		<select id="selectBySeq" resultType="kh.spring.dto.CompanyBoardDTO">
 			select * from company_board where seq = #{value}
 		</select>
    	
    	<delete id="delete">
    		delete from company_board where seq=#{value}
    	</delete>
    	
    	<update id="modify">
    		update company_board set title=#{title}, contents=#{contents}, recruit=#{recruit}, tour=#{tour}, gender=#{gender}, start_date=#{start_date}, end_date=#{end_date} where seq = #{seq}
    	</update> 
    	
    	<!-- 조회수 -->
    	<update id="addViewCount">
			update company_board set view_count = view_count + 1 where seq = #{seq}
		</update>
		
		<select id="getTotalCount" resultType="int">
			select count(*) from company_bord;
		</select>
  </mapper>