<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ComReply"> 
  	<insert id="insert">
		insert into com_reply values(comr_seq.nextval, #{rseq}, 1, #{reply}, default)
	</insert>
	
	<select id="selectAll" resultType="kh.spring.dto.ComReplyDTO">
		select r.seq, r.par_seq, r.mem_seq, r.contents, r.writen_date from com_reply r join company_board b on(r.par_seq=b.seq) order by r.writen_date desc
	</select>
	
	<update id="modify">
		update com_reply set contents=#{contents} where seq=#{seq}
		
	</update>

	<delete id="delete">
		delete from com_reply where seq=#{seq}		
	</delete>
	
	<delete id="deleteAll">
		delete from com_reply where par_seq=#{seq}		
	</delete>
  </mapper>