<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Member">
	
	<select id="emailCheck" resultType="int">
		select count(*) from member where emailid = #{value}
	</select>
	
	<select id="nickNameCheck" resultType="int">
		select count(*) from member where nick = #{value}
	</select>
	
	<select id="phoneCheck" resultType="int">
		select count(*) from member where phone = #{value}
	</select>
	
	<insert id="normalSignup">
		insert into member (seq, emailid, pw, nick, phone, gender, violation) values (mem_seq.nextval, #{emailID}, #{encryptPw}, #{nick}, #{phone}, #{gender}, 0)
	</insert>
	
	<select id="normalLoginCheck" resultType="int">
		select count(*) from member where emailid = #{emailID} and pw = #{encryptPw}
	</select>
	
	<select id="normalLoginSelectAll" resultType="kh.spring.dto.MemberDTO">
		select * from member where emailid = #{emailID} and pw = #{encryptPw}
	</select>
	
	<update id="findPwChange">
		update member set pw = #{encryptPw} where emailid = #{findPwTargetEmail}
	</update>

	<!-- 카카오 로그인시작 -->
	<select id="kakaoLoginLookup" resultType="int">
		select count(*) from member where sns_division = #{value}
	</select>
	
	<select id="kakaoLoginSelectAll" resultType="kh.spring.dto.MemberDTO">
		select * from member where sns_division = #{value}
	</select>
	
	<insert id="kakaoSignup">
		insert into member (seq, emailid, nick, violation, sns_division) values (mem_seq.nextval, #{kakaoEmail}, #{kakaoNick}, 0, #{kakaoId})
	</insert>
	
	<!-- 마이페이지 -->
	<select id="myInfoSelectAll" resultType="kh.spring.dto.MemberDTO">
		select * from member where seq = #{value}
	</select>
	
	<insert id="myInfoChangeOk">
		insert into member(pw, nick, gender, age, phone, ph_open, preference, text, photo) values(#{pw}, #{nick}, #{gender}, #{age}, #{phone}, #{ph_Open}, #{preference}, #{text}, #{photo})
	</insert>
	
</mapper>