<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Plan">
	
	<insert id="chooseTheme">
		insert into plan values (plan_seq.nextval, #{mem_seq}, #{title},#{startDate},#{endDate},#{theme},0,'')
	</insert>

</mapper>