<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TourReply">
	<insert id="insert">
		insert into tour_reply values(tourr_seq.nextval, #{rseq}, 1, #{reply}, default)
		
	</insert>
	
	<select id="selectAll" resultType="kh.spring.dto.TourReplyDTO">
		select r.seq, r.par_seq, r.mem_seq, r.contents, r.writen_time from tour_reply r join tour_board b on(r.par_seq=b.seq) order by r.writen_time desc
	</select>
	
	<update id="modify">
		update tour_reply set contents=#{contents} where seq=#{seq}
		
	</update>

	<delete id="delete">
		
		delete from tour_reply where seq=#{seq}		
	</delete>
	
	<delete id="deleteAll">
		
		delete from tour_reply where par_seq=#{seq}		
	</delete>
	
	<insert id="reinsert">
		insert into tour_reply_reply values(tourrr_seq.nextval, #{rpseq}, 1, #{recontent}, default)
		
	</insert>
	
	<select id="selectReAll" resultType="kh.spring.dto.TourReplyReplyDTO">
		select p.seq, p.par_seq, p.mem_seq, p.contents, p.writen_time from tour_board b join tour_reply r on(b.seq=r.par_seq) join tour_reply_reply p on(r.seq=p.par_seq) order by p.writen_time desc
	</select>
	
	<update id="remodify">
		update tour_reply_reply set contents=#{recontent} where seq=#{idseq}
		
	</update>
	
	<delete id="redelete">
			
		delete from tour_reply_reply where seq = #{idseq}
	</delete>
	
	<delete id="deleteReply">
	
		delete from tour_reply_reply where par_seq=#{seq}
	</delete>
</mapper>
