<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TourBoard">

	<select id="selectAll" resultType="kh.spring.dto.TourBoardDTO">
		select * from (select tour_board.*, row_number() over(order by seq desc) rn from tour_board) where rn between #{start} and #{end}
	</select>
	
	<insert id="insert">
		insert into tour_board values(tourb_seq.nextval, 1,	#{title}, #{contents}, #{category}, sysdate, default, default, default)
	</insert>
	
	<select id="selectBySeq" resultType="kh.spring.dto.TourBoardDTO">
		select * from tour_board where seq = #{value}
	</select>
	
	<update id="addViewCount">
		update tour_board set view_count = view_count + 1 where seq = #{seq}
	</update>
	
	<update id="modify">
		update tour_board set title=#{title}, contents=#{contents}, category=#{category} where seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from tour_board where seq=#{value}
	</delete>
	
	<select id="recordCount" resultType="int">
     	select count(*) from tour_board
     </select>
   
     
</mapper>